{#
/**
 * @file
 * Default theme implementation to present a harvest runz entity.
 *
 * This template is used when viewing a canonical harvest runz page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_harvest_runz()
 */
#}
{# ** @file themes/custom/mytheme/templates/artwork.html.twig #}

{% if content %}
  <div{{ attributes.addClass('harvest_run') }}>
    <a href="{{ url }}">
      {{ label }}
      <p>
        {{ content.field_image }}
        <br/>
        {{ content.body }}
      </p>
    </a>
  </div>
{% endif %}
