{#
    /**
     * @file
     * Default theme implementation to display a view of unformatted rows.
     *
     * Available variables:
     * - title: The title of this group of rows. May be empty.
     * - rows: A list of the view's row items.
     *   - attributes: The row's HTML attributes.
     *   - content: The row's content.
     * - view: The view object.
     * - default_row_class: A flag indicating whether default classes should be
     *   used on rows.
     *
     * @see template_preprocess_views_view_unformatted()
     *
     * @ingroup themeable
     */
    #}
    <ol class="dc-dataset-search-list ds-u-padding--0">
    {% for row in results %}
    {{dump(row)}}
      <li class="ds-u-padding--0">
        <div class="dc-dataset-searchlist-item ds-u-border-top--1 ds-u-margin-bottom--5">
          <div class="ds-l-row ds-u-padding-top--5">
            <div class="ds-l-col--7">
             {% if row.themes -%}
      <ul class="ds-u-padding--0 ds-u-display--flex ds-u-flex-direction--row ds-u-flex-wrap--wrap">
       {% for theme in row.themes %}
      <li class="ds-u-margin-right--1 ds-u-margin-bottom--1">
      <span class="ds-c-badge ds-c-badge--info"><span class="ds-u-visibility--screen-reader">Notice: </span>{{theme}}</span>
      </li>
        {% endfor %}
      </ul>
      {% endif %}
      </div>
      <span class="ds-l-col--5 ds-u-color--gray ds-u-text-align--right">Updated {{ row.modified }}</span>
      </div>
    
      <h2 class="ds-u-margin-y--1 ds-text-heading--xl"><a class="ds-u-color--base" href="{{ row.url }}">{{ row.title }}</a></h2>
      <p class="ds-u-margin-top--0" style="overflow: hidden;"><span><span>{{row.description}}</span></span></p>
      <div>
        {% if row.keywords -%}
        <div>
        <ul class="ds-u-padding--0 ds-u-display--flex ds-u-flex-wrap--wrap">
       {% for keyword in row.keywords %}
        <li><span class="ds-c-badge ds-c-badge--info ds-u-radius ds-u-fill--primary-alt-lightest ds-u-color--base ds-u-margin-right--1 ds-u-margin-bottom--2"><span class="ds-u-visibility--screen-reader">Notice: </span>{{keyword}}</span></li>
        {% endfor %}
    
        </ul>
        </div>
      {% endif %}
        </div>
      </li>
    {% endfor %}
    </ol>
    