<table>
  <thead>
    <tr>
      <th>{{ header[0] }}</th>
      <th>{{ header[1] }}</th>
      <th colspan="2">{{ header[2] }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.title }}</td>
        <td>
          <div><b>Data Type</b>: {{ row.type }}</div>
          <div><b>Format</b>: {{ row.format }}</div>
            {% if row.description %}
              <div><b>Description</b>: {{ row.description }}</div>
            {% endif %}
        </td>
        <td>
        {# the line of code below is just a test, it would need to be generated from within the datadictionarywidget. See 
        docroot/core/modules/field_ui/src/Form/EntityDisplayFormBase.php for details on how they handle edits. #}
          <div class="field-plugin-settings-edit-wrapper"><input class="field-plugin-settings-edit image-button js-form-submit form-submit" alt="Edit" data-drupal-selector="edit-fields-uid-settings-edit" formnovalidate="formnovalidate" type="image" id="edit-fields-uid-settings-edit" name="uid_settings_edit" src="/core/misc/icons/787878/cog.svg" data-once="drupal-ajax"></div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>