<table class = "test">
  <thead>
    <tr>
      <th>{{ header[0] }}</th>
      <th>{{ header[1] }}</th>
      <th>{{ header[2] }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.title }}</td>
        <td><b>Data Type</b>: {{ row.type }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>